/* General Styles for App */
#root {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;

}

body {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.aspect-square {
  width: 100%;
  height: 100%;
}

/* Logo Styles */
.logo {
  width: 800px;
  height: auto;
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  background-color: transparent;
}

.logo-container {
  border: none;
  padding: 0;
  margin: 0;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


/* Landing Page Styles */
.landing-page {
  text-align: center;
  margin-top: 10px;
  font-family: 'Arial', sans-serif;
  border: none;
}


.landing-page button {
  font-size: 1.25rem;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.landing-page button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  transition: transform 200ms;
}

.landing-page img {
  width: 800px;
  margin-top: 30px;
  background-color: transparent;
}


/* Content Page and Navbar */
.landing-page,
.content-page {
  text-align: center;
  padding: 20px;
}

.content-page {
  padding: 40px;
}


/* Header Styles */
.header {
  background-color: transparent;
  color: white;
  padding: 20px;
  text-align: center;
}